#about-background {
  background: linear-gradient(to bottom, #C5E1E6 0%, #C3E1ED 36%, #C0E2F9 100%);
  height: 200vh;
  position: relative; /* Needed to position text inside */
}

@media (max-width: 768px) {
  #about-background {
    height: 100vh;
  }
}


#schedule {
  background: linear-gradient(to top, #7AA689 0%, #C0E2F9 100%);
  height: 200vh;
}

@media (max-width: 768px) {
  #schedule {
    height: 101vh;
  }
}


#faq {
  background-color: #7AA689;
  height: 101h;
}

@media (max-width: 768px) {
  #faq {
    height: 76vh;
  }
}

#sponsors {
  background-color: #7AA689;
  height: 150vh;
}

@media (max-width: 768px) {
  #sponsors {
    height: 75vh;
  }
}

#footer {
  background-color: #7AA689;
  height: 100vh;
}

#textblock-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
}

#about-container {
  position: absolute; /* Allows precise positioning within #about */
  bottom: 100px; /* Adjust distance from the bottom */
  left: 100px; /* Adjust distance from the left */
  width: 40%; /* Remove the fixed width */
  margin: 0; /* Override the default margin */
  text-align: left; /* Align text to the left */
  padding: 0; /* Adjust as needed */
}

#textblock-title {
  color: #000000;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #000000;
  font-size: 20px;
}

#textblock-footer {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-bottom: 20px;

}

#textblock-boilermake {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
}

.App {
  text-align: center;
}

.animation, .animation_layer {
	height: 1000px;
}

@media (max-width: 768px) {
  .animation, .animation_layer {
    height: 500px;
  }
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#cliff {
  position: absolute;
  background: url("assets/images/cliffside.png"), linear-gradient(to bottom, #DDB47D 41%, #C5E1E6 96%) ;
  background-size: cover;
  background-blend-mode: normal;
}


#cliff::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #C5E1E6 100%);
  pointer-events: none; /* Ensure it's non-interactive */
}

#cloud1 {
  position: absolute;
  width: 60vw; /* Adjust the width as needed */
  background: url("assets/images/cloud_transition_1.png") no-repeat center center;
  background-size: contain; /* Ensures the image covers the element */
  left: 15%; /* Position horizontally relative to the viewport width */
  top: 10%; /* Position vertically relative to the viewport height */
}

#cloud2 {
  position: absolute;
  width: 90vw;
  background: url("assets/images/cloud_transition_2.png") no-repeat center center;
  background-size: contain;
  left: -15%;
}

#cloud3 {
  position: absolute;
  width: 70vw;
  background: url("assets/images/cloud_transition_3.png") no-repeat center center;
  background-size: contain;
  left: 40%;
}
/* Cloud 4 */
#cloud4 {
  position: absolute;
  width: 40vw;
  background: url("assets/images/cloud_transition_4.png") no-repeat center center;
  background-size: contain;
  left: 50%;
  top: 10%;
}

#cloud5 {
  position: absolute;
  width: 25vw;
  background: url("assets/images/cloud_transition_5.png") no-repeat center center;
  background-size: contain;
  left: 75%;
  top: -12%;
}

@media (max-width: 768px) {
  #cloud1 {
    top: 3%;
  }
  #cloud4 {
    top: 4%;
  }
  #cloud5 {
    top: -5%;
  }
}

#road {
  position: absolute;
  top: -100vh;
  left: -40vw;
  width: 200vw;
  height: 200vh;
  background: url("assets/images/road.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(20deg) scale(1.2);
  transform-origin: top left;
}

/* Mobile Adjustments for Smaller Screens */
@media (max-width: 768px) {
  #road {
    top: -65%; /* Move the road up less on mobile */
    left: 15%; /* Adjust the road to fit better horizontally */
    width: 150vw; /* Decrease the width for mobile screens */
    height: 150vh; /* Decrease the height for mobile screens */
    transform: rotate(20deg) scale(1); /* Scale back to normal size for mobile */
  }
}

#footer-background {
  background: url("assets/images/footer_background.png") repeat-x;
  height: 100vh;
  background-size: contain; /* Ensures the image maintains aspect ratio */
  position: relative; /* Allows for absolute positioning of inner content */
  animation: moveBackground 30s linear infinite; /* Infinite loop animation */
}

@keyframes moveBackground {
  0% {
    background-position: 0 0; /* Start position */
  }
  100% {
    background-position: 100vw 0; /* Move the background fully to the right */
  }
}


#mini-cloud-left {
  position: absolute;
  width: 40vw;
  background: url("assets/images/cloud_transition_5.png") no-repeat center center;
  background-size: contain;
  left: 5%;
  top: -37%
}

#mini-cloud-right {
  position: absolute;
  width: 40vw;
  background: url("assets/images/cloud_transition_4.png") no-repeat center center;
  opacity: 0.5;
  background-size: contain;
  left: 69%;
  top: -20%
}

#sun {
  position: absolute;
  width: 45vw;
  background: url("assets/images/sun.png") no-repeat center center;
  background-size: contain;
  left: -10%;
  top: -45%
}


#stat1, #stat2, #stat3 {
  position: absolute;
  background-size: 20%;
  background-repeat: no-repeat;
}

/* Adjust stat1 position */
#stat1 {
  top: 57%;
  left: 60%;
  transform: rotate(-6deg);
}

/* Adjust stat2 position */
#stat2 {
  top: 37%;
  left: 45%;
  transform: translateX(-50%) rotate(-3deg); /* Center it horizontally */
}

/* Adjust stat3 position */
#stat3 {
  top: 30%;
  left: 77%;
  transform: translateX(-50%) rotate(5deg); /* Center it horizontally */
}

@media (max-width: 768px) {
  #stat1 {
    left: 57%;
  }
}

#event1, #event2, #event3, #event4, #event5 {
  position: absolute;
  background-repeat: no-repeat;
}

/* Adjust event1 position */
#event1 {
  left: 80%;
}

#event2 {
  left: 5%;
}

#event3 {
  left: 25%;
}
#event4 {
  left: 15%;
}
#event5 {
  left: 75%;
}

@media (max-width: 768px) {
  #event1 {
    left: 80%;
  }
  
  #event2 {
    left: 3%;
  }
  
  #event3 {
    left: 25%;
  }
  #event4 {
    left: 15%;
  }
  #event5 {
    left: 77%;
  }
}

/* For the header section*/